.img-hidden {
    max-height: 300px;
    overflow: hidden;
  }

  .container-m {
    margin-top: 80px;
  }

  .container-m-big {
    margin-top: 120px;
  }

  .footer{
    background-color: #f8f9fa;
    text-align: center;
    padding: 1rem;
  }

  h1 {
    padding: 0.25em 0.5em;/*上下 左右の余白*/
    color: #494949;/*文字色*/
    background: transparent;/*背景透明に*/
    border-left: solid 5px #7db4e6;/*左線*/
  }