
/* リセットCSS */
.custom-heading {
  text-align: center;       /* テキストを中央寄せ */
  padding-bottom: 10px;     /* 文字と下線の間隔を調整 */
  text-decoration: underline;
  text-decoration: underline #007bff; /* 下線を青色に */
  text-underline-offset: 0.2em; /* 下線の位置を調整 */
  font-weight: bold;        /* 見出しを太字に */
  color: #494949;           /* 文字色 */
  margin-bottom: 40px;      /* 下の余白 */
}

.img-hidden {
    max-height: 300px;
    overflow: hidden;
  }

  .container-m {
    margin-top: 80px;
  }

.container-margin-big {
  margin-top: 120px;
}

.footer{
  background-color: #cccccc;
  text-align: center;
  padding: 1rem;
}

  .hoge-item-link {
    display: block;
    color: #333;
    background-color: #f2f2f2;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    transition: all 0.3s ease 0s;
  }
  
  
  .hoge-item-link:hover {
    opacity: 0.6;
  }

  .img-cover{
    height: 400px;
    width: 100%;
    object-fit: cover;
  }

  .section1 {
    background-color: #ff7e5f;
}

.section2 {
    background-color: #6a82fb;
}

.section3 {
    background-color: #45b649;
}